<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <rewrite>
            <rules>
                <rule name="chat" stopProcessing="true">
                    <match url="^chat$" />
                    <action type="Redirect" url="/#/chatWidget" />
                </rule>
            </rules>
        </rewrite>
		<caching>
            <profiles>
                <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />
            </profiles>
        </caching>
		<staticContent>
		  <clientCache cacheControlMode="DisableCache"/>
		</staticContent>
	</system.webServer>
</configuration>